@import '/styles/variables.scss';

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a192f;
  z-index: 100;
  text-align: center;
  color: $cyanColor;

  &__centerTxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: clamp(1.5rem, 6vw, 3rem);
    font-family: $secondaryFont;
    margin: 0;
  }

  &__firstLine {
    opacity: 0;
  }

  &__title {
    opacity: 0;

    color: $whiteColor;
  }

  &__secondLine {
    opacity: 0;
    font-family: $secondaryFont;
    color: $grayColor;
  }

  &__thirdLine {
    opacity: 0;
  }
}

.s {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__socialMediaContainer {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;

    box-shadow: 0px 0px 20px #04fff0;
    border: 3px solid #03ffff;

    border-left: 0;

    padding: 15px 0;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__socialIcon {
    width: fit-content;

    font-size: 25px;

    color: #8892b0;

    margin: 15px 20px;

    margin-right: 25px;

    cursor: pointer;

    &:hover {
      color: cyan;
    }
  }

  &__titleContainer {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
  }

  &__titleTxt {
    font-size: 64px;
    font-weight: 800;

    color: white;

    margin-right: 15px;
  }

  &__subTxt {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #8892b0;

    text-align: center;
  }

  &__myName {
    font-size: 64px;
    font-weight: 800;

    color: #00fff0;
    margin: 0;
  }

  &__projectBtn {
    width: 200px;
    height: 50px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 39px;

    color: #fffbfb;

    border: 3px solid #03ffff;
    outline: none;

    border-radius: 10px;

    background: transparent;
    box-shadow: 0px 0px 10px #04fff0;

    margin-top: 80px;
    cursor: pointer;

    transition: 0.4s all linear;

    &:hover {
      background-color: cyan;
      transform: translate(-1%, -8%);
    }
  }
}
