@import '/styles/variables.scss';

.s {
  display: grid;
  grid-template-rows: 1.2fr 0.8fr;

  @media (min-width: 576px) {
    grid-template-rows: 1fr 1fr;
    margin: 2rem 0 8rem;
  }

  &__heading {
    position: relative;

    font-size: 36px;
    font-family: $secondaryFont;
    text-align: center;

    margin-bottom: 60px;
    padding-bottom: 30px;

    // @media (min-width: 576px) {
    //   text-align: left;
    // }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 50px;
      height: 8px;

      background-color: #00fff0;

      border-radius: 10px;
    }
  }

  &__aboutMeContainer {
    font-size: 22px;
    line-height: 30px;

    color: $grayColor;
    text-align: center;

    span {
      color: $cyanColor;
    }

    margin-right: 35px;

    @media (min-width: 576px) {
      text-align: left;
    }
  }

  &__knowMeSectionTitle,
  &__skillsSectionTitle {
    color: $whiteColor;
    text-align: center;
    font-family: $primaryFont;
    font-size: 28px;

    margin-bottom: 50px;

    @media (min-width: 576px) {
      text-align: left;
    }
  }

  &__skillsOuterContainer {
    margin-left: 35px;

    @media (min-width: 576px) {
      padding-left: 15px;
    }
  }

  &__skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    color: $whiteColor;

    @media (min-width: 992px) {
      justify-content: flex-start;
    }
  }

  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: unset;
  }
}
