@import '/styles/variables.scss';

.s {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__container {
    visibility: hidden;
    margin-left: 8px;
  }

  &__projectTitle {
    font-family: $primaryFont;
  }

  &__projectDescContainer {
    color: $grayColor;
  }

  &__projectDesc {
    font-family: $primaryFont;
  }

  &__secondSectionContainer {
    display: flex;
    justify-content: center;
  }

  &__imgContainer {
    position: relative;
    width: 15rem;
    height: 14rem;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 500;
  }

  &__overlay {
    background-color: #00ffff59;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 510;
  }

  &__imgContainer:hover &__overlay {
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    background-color: unset;
  }

  &__borderedOverlay::after {
    content: '';
    position: absolute;
    top: 7%;
    left: 7%;
    width: 100%;
    height: 100%;
    border: 2px solid cyan;
    z-index: -1;
  }

  @media (max-width: 360px) {
    .DivideDiv {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: unset;
    }
  }
}
