@import '/styles/variables.scss';
.s {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $cyanColor;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0.5rem;
  }
}
