.s {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 15px;
    margin-right: 15px;

    transition: all 0.5s ease-in-out;

    &:hover {
      color: purple;
    }

    @media (min-width: 576px) {
      margin-left: 0px;
      margin-right: 45px;
      margin-top: 12px;
    }
  }

  &__icon {
    font-size: 15px;

    margin-bottom: 15px;

    @media (min-width: 576px) {
      font-size: 22px;
    }
  }

  &__title {
    font-size: 10px;
    font-family: Fredoka;

    @media (min-width: 576px) {
      font-size: 12px;
    }
  }
}
