@import '/styles/variables.scss';

.s {
  margin-bottom: 128px;

  &__heading {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 36px;
    font-family: $secondaryFont;
    text-align: center;

    padding-bottom: 40px;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 50px;
      height: 5px;

      background-color: #00fff0;

      border-radius: 10px;
    }
  }

  &__desc {
    width: 75%;

    font-weight: 400;
    line-height: 28px;
    font-size: 22px;
    text-align: center;

    margin: 30px auto 95px;
  }
}

.expContainer {
  max-width: 100%;

  &__companyName {
    font-family: $secondaryFont;
    font-size: 32px;
    letter-spacing: 5px;
    margin-bottom: 8px;
    margin-top: 0;
  }

  &__timePeriod {
    font-size: 16px;
    margin-top: 0;
    font-family: $primaryFont;
    color: $grayColor;
    margin-bottom: 30px;
  }

  &__bulletPointContainer {
    display: flex;
    font-family: Fredoka;
    color: $grayColor;
    margin-bottom: 25px;
  }

  &__bulletPoint {
    margin-left: 10px;
    margin-top: 2px;
    line-height: 25px;

    letter-spacing: 1px;

    span {
      color: $cyanColor;
    }
  }

  &__bulletPointSvgContainer {
    width: 20px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.expCompaniesContainerOuter {
  margin: 30px auto 75px;
}

.expCompaniesContainer {
  display: flex;
  justify-content: center;
  list-style: none;
  overflow-x: auto;
  padding-left: 1rem;
  padding-bottom: 1.5rem;

  &__txt {
    font-size: 16px;
    font-weight: 400;

    padding: 15px 20px;
    &:hover {
      background-color: #112240;
      cursor: pointer;
      color: cyan;

      transition: 0.3s all ease-in-out;
    }

    @media (min-width: 576px) {
      border-left: 2px solid gray;
    }
  }

  &__activeTxt {
    color: cyan;
    background-color: #112240;

    border-bottom: 2px solid cyan;
    transition: 2s all ease-in-out;

    @media (min-width: 576px) {
      border-left: 2px solid cyan !important;
      border-bottom: 0px;
    }
  }

  @media (min-width: 576px) {
    display: block;
    padding-bottom: 0;
  }
}

.expTxtContainer {
  padding-left: 54px;
}
