@import "/styles/variables.scss";

.heading {
  font-family: $secondaryFont;
  text-align: center;
  @media (min-width: 576px) {
    text-align: left;
  }
}

.expContainer {
  width: 550px;
  max-width: 100%;

  &__companyName {
    font-family: $secondaryFont;
    font-size: 1.8rem;
    letter-spacing: 5px;
    margin-bottom: 0px;
    margin-top: 0;
  }

  &__timePeriod {
    margin-bottom: 20px;
    margin-top: 0;
    font-family: $primaryFont;
    color: $grayColor;
    font-size: 0.9rem;
  }

  &__bulletPointContainer {
    display: flex;
    font-family: Fredoka;
    color: $grayColor;
    margin-bottom: 12px;
  }

  &__bulletPoint {
    margin-left: 10px;
    margin-top: 2px;
    line-height: 25px;

    span {
      color: $cyanColor;
    }
  }

  &__bulletPointSvgContainer {
    width: 20px;
    margin-top: 5px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.expCompaniesContainerOuter {
  padding: 1rem 0 4rem;
  @media (min-width: 576px) {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    padding: 15vh 10vw 15vh;
  }
}

.expCompaniesContainer {
  display: flex;
  justify-content: center;
  list-style: none;
  overflow-x: auto;
  padding-left: 1rem;
  padding-bottom: 1.5rem;

  &__activeTxt {
    color: cyan;
    background-color: #112240;

    border-bottom: 2px solid cyan;
    transition: 2s all ease-in-out;

    @media (min-width: 576px) {
      border-left: 2px solid cyan !important;
      border-bottom: 0px;
    }
  }

  li {
    padding: 1rem;

    &:hover {
      background-color: #112240;
      cursor: pointer;
      color: cyan;
      transition: 0.3s all ease-in-out;
    }

    @media (min-width: 576px) {
      margin-right: 2rem;
      border-left: 2px solid gray;
    }
  }
  @media (min-width: 576px) {
    display: block;
    padding-bottom: 0;
  }
}

.expTxtContainer {
  margin: 0 15px;
  @media (min-width: 576px) {
    margin: 0 0px;
  }
}
