.s {
  margin-bottom: 128px;

  &__heading {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;
    font-family: 'Pacifico', cursive;
    text-align: center;

    padding-bottom: 30px;

    @media (min-width: 576px) {
      padding-bottom: 40px;
      font-size: 36px;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 50px;
      height: 5px;

      background-color: #00fff0;

      border-radius: 10px;
    }

    &__icon {
      width: 25px;
      margin-right: 20px;

      @media (min-width: 576px) {
        width: 36px;
        font-size: 6px;
      }
    }
  }

  &__desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;

    text-align: center;

    margin: 30px 10px 40px 10px;

    @media (min-width: 576px) {
      width: 75%;
      font-size: 22px;

      margin: 30px auto 75px;
    }
  }
}

.expContainer {
  max-width: 100%;

  &__companyName {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    letter-spacing: 5px;
    margin-bottom: 8px;
    margin-top: 0;

    @media (min-width: 576px) {
      font-size: 32px;
    }
  }

  &__timePeriod {
    font-family: Fredoka;
    color: #8892b0;
    font-size: 14px;

    margin-top: 0;
    margin-bottom: 30px;

    @media (min-width: 576px) {
      font-size: 16px;
    }
  }

  &__bulletPointContainer {
    display: flex;

    margin-bottom: 25px;
  }

  &__bulletPoint {
    font-family: Fredoka;
    line-height: 25px;
    font-size: 15px;
    color: #8892b0;

    margin-left: 10px;
    margin-top: 2px;

    letter-spacing: 1px;

    span {
      color: #31ffce;
    }
  }

  &__bulletPointSvgContainer {
    width: 20px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.expCompaniesContainerOuter {
  margin: 30px auto 80px;
}

.expCompaniesContainer {
  display: flex;
  justify-content: center;
  list-style: none;
  overflow-x: auto;
  padding-left: 1rem;
  padding-bottom: 1.5rem;

  overflow-y: scroll;

  &__txt {
    font-size: 12px;
    font-weight: 400;

    padding: 12px 30px;

    &:hover {
      background-color: #112240;
      cursor: pointer;
      color: cyan;

      transition: 0.3s all ease-in-out;
    }

    @media (min-width: 576px) {
      border-left: 2px solid gray;

      font-size: 16px;
      padding: 15px 20px;
    }
  }

  &__activeTxt {
    color: cyan;
    background-color: #112240;

    border-bottom: 2px solid cyan;
    transition: 2s all ease-in-out;

    @media (min-width: 576px) {
      border-left: 2px solid cyan !important;
      border-bottom: 0px;
    }
  }

  @media (min-width: 576px) {
    display: block;
    padding-bottom: 0;
    overflow-y: hidden;
  }
}

.expTxtContainer {
  padding-left: 20px;

  @media (min-width: 576px) {
    padding-left: 54px;
  }
}
